# Skew Generation File

This file generates the skews of the Volsurface for predicting equity returns.

Please do not rerun, as it would create some new file paths.

In [1]:
import numpy as np
import pandas as pd

# Assuming the data is already loaded into a DataFrame called 'df'
df = pd.read_csv('VNO_option_data.csv')

# Define a function to find the closest delta value
def find_closest_delta(df, target_delta):
    return df.iloc[(df['delta'] - target_delta).abs().argsort()[:1]]

# Initialize list to store results
results = []

# Group by TICKER and date
grouped = df.groupby(['ticker', 'date'])

for (ticker, date), group in grouped:
    # Filter calls and puts
    call_atm = find_closest_delta(group[(group['cp_flag'] == 'C')], 50)
    put_atm = find_closest_delta(group[(group['cp_flag'] == 'P')], -50)
    
    call_25 = find_closest_delta(group[(group['cp_flag'] == 'C')], 25)
    put_25 = find_closest_delta(group[(group['cp_flag'] == 'P')], -25)

    # Calculate ATM IV as average of call and put near delta 50 and -50
    atm_iv = (call_atm['impl_volatility'].values[0] + put_atm['impl_volatility'].values[0]) / 2
    
    # Calculate RR (Risk Reversal) as Call IV (near delta 25) - Put IV (near delta -25)
    rr = call_25['impl_volatility'].values[0] - put_25['impl_volatility'].values[0]
    
    # Append results
    results.append([ticker, date, atm_iv, rr])

# Create the resulting DataFrame
result_df = pd.DataFrame(results, columns=['TICKER', 'date', 'ATM IV', 'RR'])

# Display the resulting DataFrame
result_df.head()

  TICKER        date    ATM IV        RR
0    VNO  2002-08-02  0.390422 -0.038674
1    VNO  2002-08-05  0.389641 -0.074775
2    VNO  2002-08-06  0.381769 -0.102353
3    VNO  2002-08-07  0.398877 -0.076720
4    VNO  2002-08-08  0.398386 -0.069558

In [2]:
len(result_df)

5307

In [6]:
import os
import numpy as np
import pandas as pd

# Define a function to find the closest delta value
def find_closest_delta(df, target_delta):
    return df.iloc[(df['delta'] - target_delta).abs().argsort()[:1]]

# Function to process each file and return a DataFrame with results
def process_file(file_path):
    df = pd.read_csv(file_path)
    
    # Initialize list to store results
    results = []

    # Group by TICKER and date
    grouped = df.groupby(['ticker', 'date'])

    for (ticker, date), group in grouped:
        # Filter calls and puts
        call_atm = find_closest_delta(group[(group['cp_flag'] == 'C')], 50)
        put_atm = find_closest_delta(group[(group['cp_flag'] == 'P')], -50)

        call_25 = find_closest_delta(group[(group['cp_flag'] == 'C')], 25)
        put_25 = find_closest_delta(group[(group['cp_flag'] == 'P')], -25)

        # Calculate ATM IV as average of call and put near delta 50 and -50
        atm_iv = (call_atm['impl_volatility'].values[0] + put_atm['impl_volatility'].values[0]) / 2

        # Calculate RR (Risk Reversal) as Call IV (near delta 25) - Put IV (near delta -25)
        rr = call_25['impl_volatility'].values[0] - put_25['impl_volatility'].values[0]

        # Append results
        results.append([ticker, date, atm_iv, rr])

    # Create the resulting DataFrame for this file
    return pd.DataFrame(results, columns=['TICKER', 'date', 'ATM IV', 'RR'])

# Directory where the files are stored
directory_path = 'C:/Users/KARAN JESWANI/Sem/Sem3/Systematic trading/option_data/option_data'

# Initialize an empty list to store all results
all_results = []

# Loop through each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith(".csv"):  # Process only CSV files
        file_path = os.path.join(directory_path, filename)
        
        # Process the file and get the results DataFrame
        file_results = process_file(file_path)
        
        # Append the results to the list
        all_results.append(file_results)

# Concatenate all the DataFrames into a single DataFrame
final_result_df = pd.concat(all_results, ignore_index=True)

# Save the final DataFrame to a CSV file
final_result_df.to_csv('combined_results.csv', index=False)

# Display the final DataFrame
final_result_df.head()

KeyboardInterrupt:

In [7]:
all_results

[     TICKER        date    ATM IV        RR
 0       AAL  2013-12-17  0.447346  0.027771
 1       AAL  2013-12-18  0.419270 -0.001097
 2       AAL  2013-12-19  0.421457 -0.026108
 3       AAL  2013-12-20  0.411252 -0.037721
 4       AAL  2013-12-23  0.399073 -0.022857
 ...     ...         ...       ...       ...
 2438    AAL  2023-08-25  0.319537 -0.028895
 2439    AAL  2023-08-28  0.303341 -0.030842
 2440    AAL  2023-08-29  0.305571 -0.032263
 2441    AAL  2023-08-30  0.303324 -0.026125
 2442    AAL  2023-08-31  0.296986 -0.025564

 [2443 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0      AAPL  2000-08-31  0.574545 -0.027703
 1      AAPL  2000-09-01  0.572235 -0.017502
 2      AAPL  2000-09-05  0.578295 -0.022779
 3      AAPL  2000-09-06  0.597924 -0.016349
 4      AAPL  2000-09-07  0.592598 -0.020317
 ...     ...         ...       ...       ...
 5781   AAPL  2023-08-25  0.199907 -0.034107
 5782   AAPL  2023-08-28  0.201908 -0.032893
 5783   AAPL  2023-08-29  0.192371 -0.025257
 5784   AAPL  2023-08-30  0.189419 -0.022568
 5785   AAPL  2023-08-31  0.187901 -0.019849

 [5786 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       AAP  2002-03-28  0.245336 -0.015989
 1       AAP  2002-04-01  0.253718 -0.011342
 2       AAP  2002-04-02  0.259923 -0.033808
 3       AAP  2002-04-03  0.260269 -0.013629
 4       AAP  2002-04-04  0.256526 -0.026493
 ...     ...         ...       ...       ...
 5390    AAP  2023-08-25  0.371252 -0.000316
 5391    AAP  2023-08-28  0.357211 -0.005940
 5392    AAP  2023-08-29  0.342848 -0.007676
 5393    AAP  2023-08-30  0.332584  0.041500
 5394    AAP  2023-08-31  0.336064 -0.007727

 [5395 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0        AA  2016-11-02  0.393880 -0.071685
 1        AA  2016-11-03  0.367801 -0.040809
 2        AA  2016-11-04  0.375125 -0.018247
 3        AA  2016-11-07  0.382844 -0.065713
 4        AA  2016-11-08  0.411002 -0.012619
 ...     ...         ...       ...       ...
 1713     AA  2023-08-25  0.455392 -0.013390
 1714     AA  2023-08-28  0.451153 -0.016854
 1715     AA  2023-08-29  0.434229 -0.019003
 1716     AA  2023-08-30  0.439712 -0.012998
 1717     AA  2023-08-31  0.437166 -0.014087

 [1718 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0      ABBV  2013-01-02  0.218163 -0.508413
 1      ABBV  2013-01-03  0.193730 -0.096815
 2      ABBV  2013-01-04  0.202834 -0.080061
 3      ABBV  2013-01-07  0.196335 -0.069229
 4      ABBV  2013-01-08  0.199102 -0.060614
 ...     ...         ...       ...       ...
 2680   ABBV  2023-08-25  0.167708 -0.010430
 2681   ABBV  2023-08-28  0.164042 -0.015039
 2682   ABBV  2023-08-29  0.159768 -0.018435
 2683   ABBV  2023-08-30  0.159918 -0.019296
 2684   ABBV  2023-08-31  0.157166 -0.001108

 [2685 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       ABI  2000-08-31  0.676225 -0.104007
 1       ABI  2000-09-01  0.680903 -0.041113
 2       ABI  2000-09-05  0.712099 -0.007856
 3       ABI  2000-09-06  0.706192 -0.024073
 4       ABI  2000-09-07  0.695428 -0.026393
 ...     ...         ...       ...       ...
 2064    ABI  2008-11-17  0.298219 -0.183033
 2065    ABI  2008-11-18  0.336889  0.171861
 2066    ABI  2008-11-19  0.317383 -0.204673
 2067    ABI  2008-11-20  0.506990 -0.187513
 2068    ABI  2008-11-21  0.653123 -0.434199

 [2069 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0      ABMD  2000-08-31  0.784007 -0.057036
 1      ABMD  2000-09-01  0.778095 -0.055600
 2      ABMD  2000-09-05  0.788666 -0.006608
 3      ABMD  2000-09-06  0.804836  0.303097
 4      ABMD  2000-09-07  0.791234 -0.000182
 ...     ...         ...       ...       ...
 5605   ABMD  2022-12-15  0.102831 -0.021413
 5606   ABMD  2022-12-16  0.092935  0.039546
 5607   ABMD  2022-12-19  0.144533  0.074190
 5608   ABMD  2022-12-20  0.055937  0.012796
 5609   ABMD  2022-12-21  0.109105  0.021424

 [5610 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       ABS  2000-08-31  0.418541  0.036284
 1       ABS  2000-09-01  0.415498  0.020106
 2       ABS  2000-09-05  0.413110  0.010985
 3       ABS  2000-09-06  0.401240  0.005378
 4       ABS  2000-09-07  0.401980  0.022096
 ...     ...         ...       ...       ...
 1439    ABS  2006-05-25  0.120526  0.186705
 1440    ABS  2006-05-26  0.158598  0.125135
 1441    ABS  2006-05-30  0.135132  0.066988
 1442    ABS  2006-05-31  0.095823  0.089576
 1443    ABS  2006-06-01  0.101852  0.080343

 [1444 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       ABT  2000-08-31  0.319009 -0.014647
 1       ABT  2000-09-01  0.317495 -0.012756
 2       ABT  2000-09-05  0.326731 -0.020760
 3       ABT  2000-09-06  0.331974 -0.014608
 4       ABT  2000-09-07  0.324929 -0.013548
 ...     ...         ...       ...       ...
 5781    ABT  2023-08-25  0.184536 -0.029679
 5782    ABT  2023-08-28  0.186009 -0.021972
 5783    ABT  2023-08-29  0.176336 -0.026414
 5784    ABT  2023-08-30  0.170229  0.011468
 5785    ABT  2023-08-31  0.174593 -0.010983

 [5786 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       ACS  2000-08-31  0.349338 -0.027649
 1       ACS  2000-09-01  0.345833 -0.050620
 2       ACS  2000-09-05  0.359926 -0.079454
 3       ACS  2000-09-06  0.357703 -0.075540
 4       ACS  2000-09-07  0.353377 -0.079004
 ...     ...         ...       ...       ...
 2366    ACS  2010-02-01  0.226524 -0.008068
 2367    ACS  2010-02-02  0.225529 -0.025207
 2368    ACS  2010-02-03  0.224977  0.000698
 2369    ACS  2010-02-04  0.240751  0.020139
 2370    ACS  2010-02-05  0.241816  0.042155

 [2371 rows x 4 columns],
     TICKER        date    ATM IV        RR
 0      ACT  2022-02-11  0.396441 -0.440933
 1      ACT  2022-02-14  0.576978  0.032885
 2      ACT  2022-02-15  0.426825 -0.043997
 3      ACT  2022-02-16  0.530532  0.227163
 4      ACT  2022-02-17  0.554243  0.425577
 ..     ...         ...       ...       ...
 385    ACT  2023-08-25  0.243263 -0.284087
 386    ACT  2023-08-28  0.271687 -0.008742
 387    ACT  2023-08-29  0.235641 -0.172487
 388    ACT  2023-08-30  0.247115 -0.194141
 389    ACT  2023-08-31  0.448877 -0.409057

 [390 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0      ADBE  2000-08-31  0.692902 -0.086448
 1      ADBE  2000-09-01  0.686152 -0.082152
 2      ADBE  2000-09-05  0.694721 -0.073599
 3      ADBE  2000-09-06  0.709006 -0.089014
 4      ADBE  2000-09-07  0.692873 -0.072152
 ...     ...         ...       ...       ...
 5781   ADBE  2023-08-25  0.380622 -0.026000
 5782   ADBE  2023-08-28  0.375070 -0.026536
 5783   ADBE  2023-08-29  0.367703 -0.026569
 5784   ADBE  2023-08-30  0.364409 -0.024559
 5785   ADBE  2023-08-31  0.368243 -0.019422

 [5786 rows x 4 columns],
     TICKER        date    ATM IV        RR
 0     ADCT  2020-09-22  1.048808  0.364616
 1     ADCT  2020-09-23  0.940069  0.053152
 2     ADCT  2020-09-24  0.870402  0.303833
 3     ADCT  2020-09-25  0.816834  0.284379
 4     ADCT  2020-09-28  1.005808  0.139642
 ..     ...         ...       ...       ...
 736   ADCT  2023-08-25  4.158454  2.599071
 737   ADCT  2023-08-28  4.739452  0.997924
 738   ADCT  2023-08-29  3.935455  0.497924
 739   ADCT  2023-08-30  5.360332 -1.327477
 740   ADCT  2023-08-31  3.109571  0.961326

 [741 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0      ADPT  2000-08-31  0.729627  0.014634
 1      ADPT  2000-09-01  0.724928  0.010544
 2      ADPT  2000-09-05  0.755007  0.001010
 3      ADPT  2000-09-06  0.795097  0.002546
 4      ADPT  2000-09-07  0.831490 -0.006955
 ...     ...         ...       ...       ...
 3396   ADPT  2023-08-25  0.610675 -0.777785
 3397   ADPT  2023-08-28  0.671383 -0.226132
 3398   ADPT  2023-08-29  0.785604 -0.620690
 3399   ADPT  2023-08-30  0.609645 -0.486240
 3400   ADPT  2023-08-31  0.621997 -0.584782

 [3401 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       ADP  2000-08-31  0.283201 -0.036690
 1       ADP  2000-09-01  0.289804 -0.028416
 2       ADP  2000-09-05  0.286208 -0.012873
 3       ADP  2000-09-06  0.288870  0.001233
 4       ADP  2000-09-07  0.284739  0.001152
 ...     ...         ...       ...       ...
 5781    ADP  2023-08-25  0.159430  0.000644
 5782    ADP  2023-08-28  0.167481 -0.006486
 5783    ADP  2023-08-29  0.153039 -0.015292
 5784    ADP  2023-08-30  0.149026 -0.030964
 5785    ADP  2023-08-31  0.153208 -0.008124

 [5786 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0      ADSK  2000-08-31  0.579576  0.010535
 1      ADSK  2000-09-01  0.591284  0.005152
 2      ADSK  2000-09-05  0.585610  0.015599
 3      ADSK  2000-09-06  0.589090  0.001275
 4      ADSK  2000-09-07  0.600404  0.014196
 ...     ...         ...       ...       ...
 5781   ADSK  2023-08-25  0.272193 -0.023705
 5782   ADSK  2023-08-28  0.270458 -0.025259
 5783   ADSK  2023-08-29  0.253588 -0.022668
 5784   ADSK  2023-08-30  0.248923 -0.021373
 5785   ADSK  2023-08-31  0.243626 -0.021589

 [5786 rows x 4 columns],
      TICKER        date    ATM IV        RR
 0       AEE  2000-08-31  0.232796 -0.021287
 1       AEE  2000-09-01  0.233634 -0.012187
 2       AEE  2000-09-05  0.236062 -0.007928
 3       AEE  2000-09-06  0.235939 -0.002510
 4       AEE  2000-09-07  0.244424 -0.002024
 ...     ...         ...       ...       ...
 5781    AEE  2023-08-25  0.171329 -0.050918
 5782    AEE  2023-08-28  0.176129  0.182411
 5783    AEE  2023-08-29  0.171994 -0.027114
 5784    AEE  2023-08-30  0.168546 -0.065587
 5785    AEE  2023-08-31  0.168823 -0.062316

 [5786 rows x 4 columns]]

In [1]:
import os
import numpy as np
import pandas as pd

# Function to process each file and return a DataFrame with results
def process_file(file_path):
    df = pd.read_csv(file_path)
    
    # Initialize list to store results
    results = []

    # Group by TICKER and date
    grouped = df.groupby(['ticker', 'date'])

    for (ticker, date), group in grouped:
        # Filter for exact deltas
        call_atm = group[(group['cp_flag'] == 'C') & (group['delta'] == 50)]
        put_atm = group[(group['cp_flag'] == 'P') & (group['delta'] == -50)]
        
        call_25 = group[(group['cp_flag'] == 'C') & (group['delta'] == 25)]
        put_25 = group[(group['cp_flag'] == 'P') & (group['delta'] == -25)]

        # Ensure all required rows are found
        if call_atm.empty or put_atm.empty or call_25.empty or put_25.empty:
            continue  # Skip this group if any of the required deltas are missing

        # Calculate ATM IV as average of call and put at delta 50 and -50
        atm_iv = (call_atm['impl_volatility'].values[0] + put_atm['impl_volatility'].values[0]) / 2

        # Calculate RR (Risk Reversal) as Call IV (delta 25) - Put IV (delta -25)
        rr = call_25['impl_volatility'].values[0] - put_25['impl_volatility'].values[0]

        # Append results
        results.append([ticker, date, atm_iv, rr])

    # Create the resulting DataFrame for this file
    return pd.DataFrame(results, columns=['TICKER', 'date', 'ATM IV', 'RR'])

# Directory where the files are stored
directory_path = 'option_data'

# Initialize an empty list to store all results
all_results = []

# Loop through each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith(".csv"):  # Process only CSV files
        file_path = os.path.join(directory_path, filename)
        
        # Process the file and get the results DataFrame
        file_results = process_file(file_path)
        
        # Append the results to the list
        all_results.append(file_results)

# Concatenate all the DataFrames into a single DataFrame
final_result_df = pd.concat(all_results, ignore_index=True)

# Save the final DataFrame to a CSV file
final_result_df.to_csv('combined_results.csv', index=False)

# Display the final DataFrame
final_result_df.head()

/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_18034/4175860436.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

  TICKER        date    ATM IV        RR
0     CL  2000-08-31  0.363433 -0.006201
1     CL  2000-09-01  0.358156 -0.011888
2     CL  2000-09-05  0.366865 -0.010889
3     CL  2000-09-06  0.350661 -0.019246
4     CL  2000-09-07  0.348214 -0.011531